body{
    font-family: League Spartan;

}
.main{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-family: League Spartan;
    height: 200px;
    width: 400px;
    top: 70px;
    left: 200px;

    
}
.bigt{
    color:hsl(300, 43%, 22%) ;
    font-weight: 700;
    font-size: 3rem;

}
.smallt{
    color:hsl(300, 43%, 22%);
    font-weight: 500;
    line-height: 1.5;
    margin-top: -10px;
    opacity: 60%;
}
.boxes{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 370px;
    left: 200px;
}
.box1{
    width: 325px;
    height: 225px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.box2{
    width: 325px;
    height: 225px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin-left: 24px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
}

.box3{
    width: 325px;
    height: 225px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    margin-left: 24px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}
.img1{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 24px;
    margin-top: 32px;
    
}

.img2{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 24px;
    margin-top: 32px;
}

.img3{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 24px;
    margin-top: 32px;
}
.p1{
    color: white;
    font-weight: 500;
    font-family:League Spartan ;
    margin-left: 25px;
    margin-top: 35px;
}
.p11{
    margin-left: -87px;
    margin-top: 55px;
    color:hsl(333, 80%, 67%) ;
    font-weight: 400;
}
.p2{
    color: white;
    font-weight: 500;
    font-family:League Spartan ;
    margin-left: 25px;
    margin-top: 35px;

}
.p22{
    margin-left: -87px;
    margin-top: 55px;
    color:hsl(333, 80%, 67%) ;
    font-weight: 400;

}
.p3{
    color: white;
    font-weight: 500;
    font-family:League Spartan ;
    margin-left: 25px;
    margin-top: 35px;

}
.p33{

    margin-left: -87px;
    margin-top: 55px;
    color:hsl(333, 80%, 67%) ;
    font-weight: 400;
}
.p111{
   position: absolute;
   height: 150px;
   width: 280px;
   top: 455px;
   left: 225px;
   color: white;
   line-height: 1.3;
   font-size: 16px;
   
}

.p222{
   position: absolute;
   height: 150px;
   width: 280px;
   top: 470px;
   left: 575px;
   color: white;
   line-height: 1.3;
   font-size: 16px;
   
   
}

.p333{
   position: absolute;
   height: 150px;
   width: 280px;
   top: 485px;
   left: 925px;
   color: white;
   line-height: 1.3;
   font-size: 16px;
   
   
}
.boxes1{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 670px;
    top:120px;
}
.box4{
    width: 470px;
    height: 50px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    
}
.box5{
    width: 470px;
    height: 50px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    
    
}
.box6{
    width: 470px;
    height: 50px;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
}
.star1{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 40px;

}
.star2{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;

}.star3{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;

}.star4{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;

}.star5{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;

}
.review{
    margin-left: 25px;
    margin-top: 20px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;

}

.star6{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 40px;

}
.star7{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;

}.star8{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;

}.star9{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;

}.star10{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;

}
.guru{
    margin-left: 25px;
    margin-top: 20px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;}


.star11{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 40px;

}
.star12{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;

}.star13{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;

}.star14{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;

}.star15{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 10px;

}
.best{
    margin-left: 25px;
    margin-top: 20px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;}