body{
    background-image:url(central\ park.PNG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;}

#box1{
    margin-top: 170px;
    width: 320px;
    height: 240px;
    font-size: 25px;
    margin-left: 550px;
    border:5px solid;

    border-color: darkblue;
    background-color: darkblue;
}
    